.jfx-button{
    -fx-background-color:  #1976D2;
    -fx-text-fill: white;
}
.jfx-button:hover{
    -fx-background-color: #c62828;
}
.background{
    -fx-background-color: #34495e;
}
.vbox{
    -fx-background-color: #34495e;
}
.root2{
    -fx-background-color: #ffffff;
}